html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.todo-body,
#todo-sheet {
  max-width: 500px;
}
html * {
  font-family: Livvic;
}

#todo-sheet {
  height: 500px;
  /* TODO this left and right padding is not relative to the real parent, need to be checked */
  padding: 10px 20px 5px;
  border: 1px solid #bfbfbf;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 30px 30px 20px #aaaaaa;
  /* overflow: scroll; */
}

.todo-sections a {
  text-decoration: none;
}

.todo-sections div.selected {
  border-bottom: 4px solid #2ebd59;
}

.todo-sections div.selected a {
  color: black;
}

.emphasized-item {
  transition: all 0.2s ease-in-out;
}

.emphasized-item:hover {
  transform: scale(1.1);
}

/* .todo-item {
  position: relative;
  margin: 10px 40px 10px;
} */

/* .todo-checkbox {
  float: left;
} */

/* .todo-delete {
  float: right;
} */

.todo-input-wrapper {
  /* relative is needed. if you remove it, the reset button will not be right place while you move the mouse around */
  position: relative;
  margin: 10px 0px 10px;
}

#todo-input {
  border-radius: 20px;
  border: 2px solid #aaa;
  padding: 15px 40px 15px 15px;
  width: 100%;
  height: 15px;
}

#todo-input:focus {
  box-shadow: 0 0 10px 5px #b0e0ee;
  border: 2px solid #bebede;
  outline: none;
}

#todo-input:not(:valid) ~ .reset-btn {
  display: none;
}

#todo-items,
#all-items,
#done-items {
  display: none;
  /* opacity: 0;
  transform: translateX(-1100px);
  -webkit-transform: translateX(-1100px);
  -moz-transform: translateX(-1100px);
  -ms-transform: translateX(-1100px);
  -o-transform: translateX(-1100px);
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease; */
}

#todo-sheet.selected,
#all-sheet.selected,
#done-sheet.selected {
  display: block;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.reset-btn {
  background: url(img/delete.svg) no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: pink;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #e50f0f;
  cursor: pointer;
}
.reset-btn:focus {
  outline: none;
}

.add-todo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: url(img/add.svg) no-repeat center;
  background-color: white;
  background-size: 40px 40px;
  border: none;
}

.add-todo:focus {
  outline: none;
}

.pinkcheck {
  /* Note: The border will be invisible if its style is not defined. This is because the style defaults to none.
    https://developer.mozilla.org/zh-TW/docs/Web/CSS/border */
  /* border: 2px solid red;
  background: pink; */
}

.greencheck {
  /* border: 2px solid black;
    background: green; */
}

#test-jquery-animation {
  background: #def3ca;
  margin: 3px;
  width: 80px;
  /* display: none; */
  float: left;
  text-align: center;
}

.light-box {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.light-box .user-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  /* half width & height */
  margin-top: -100px;
  margin-left: -250px;
  padding: 35px 0;
  border: 1px solid white;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
}

.user-title p {
  color: white;
}

.title-form {
  width: 100%;
  margin: 20px auto;
}

.title-form input[type="text"] {
  width: 200px;
  height: 40px;
  border: 2px solid white;
  padding-left: 10px;
  font-size: 20px;
  vertical-align: top;
}

.title-form input[type="submit"] {
  color: black;
  background-color: rgb(221, 221, 231);
  display: block;
  width: 50px;
  height: 30px;
  border: 2px solid black;
  font-size: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}

@media only screen and (max-width: 650px) {
  .light-box .user-title {
    width: 350px;
    margin-left: -175px;
  }
}

@media only screen and (max-width: 320px) {
  .light-box .user-title {
    width: 290px;
    margin-left: -145px;
    height: 250px;
    margin-top: -125px;
  }
}

#copyright-block {
  color: gray;
}
